<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <title>Draw & Guess</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

  <!--FormValidation-->
  <link rel="stylesheet" href="stylesheets/formValidation.min.css">
  <script src="javascripts/formValidation.min.js"></script>
  <script src="javascripts/framework/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/language/zh_CN.js"></script>

  <!--jquery-countdown-->
  <script src="javascripts/jquery.countdown.min.js"></script>

  <!--Messenger-->
  <link rel="stylesheet" href="stylesheets/messenger.css">
  <link rel="stylesheet" href="stylesheets/messenger-theme-air.css">
  <script src="javascripts/messenger.min.js"></script>

  <!--drawingboard-->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/drawingboard.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/drawingboard.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/myDrawBoard.css">

  <!--Web socket-->
  <script src="/socket.io/socket.io.js"></script>
</head>
<body background="images/bkg3.jpg">

<!-- here start the nav-bar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/user.png"/></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="disabled"><a href="#"><%= nickname %></a></li>
        <li class="disabled"><a href="#">积分: <%= points %></a></li>
        <li class="disabled"><a href="#">房间：<%= roomName %></a></li>
        <li class="disabled"><a href="#">
          <div id="playerNum"><%= playerNum %></div>
        </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="quit"><a href="#">退出房间</a></li>
        <li id="logout"><a href="#">注销用户</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- container -->
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div id="db_topbar">
      <div id="countdown">
        <span>
          <span id="clock1"></span>
        </span>
      </div>
      <div id="hint">
        <span id="prompt">n个字, 类别</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="gamestart_frame">
      <div id="gamestart">
        <span style="font-size: 25px;">欢迎进入游戏</span>
        <br/>
        <span style="font-size: 15px;">在线人数: <%= playerNum %></span>
        <div><br/></div>
        <button type="button" class="btn btn-info" onclick="startNextRound()">开始游戏</button>
        <div><br/></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="roundfinish_frame">
      <div id="roundfinish">
        <span style="font-size: 25px;">回合结束</span>
        <br/>
        <span style="font-size: 15px;">答案:</span>
        <span id="answer" style="font-size: 15px;"></span>
        <div><br/></div>
        <button type="button" class="btn btn-info" onclick="startNextRound()">下一回合</button>
        <div><br/></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div id="draw-board" class="board"></div>
  </div>
</div>
<div><br/></div>
<!-- here start the input-group -->
<div class="container">
  <form id="messages-form" class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <input id="messages" type="text" class="form-control" name="answerMessage" placeholder="输入答案">
      <span class="input-group-btn">
        <button id="sendBtn" class="btn btn-danger" type="submit">发送</button>
      </span>
    </div>
  </form>
</div>
</body>

<script type="text/javascript">
  let email = "<%= email%>";
  let nickName = "<%= nickname %>";
  let roomID = "<%= roomName %>";
  let roomLeader = "<%= roomLeader %>";
  let endTime = Number("<%= endTime %>");

  let socket = io("/" + roomID);
  // canvas default variable
  let drawingBoard;
  // question variable for every round
  let term;
  // round status maintain variable, 0 for unfinished, 1 for finished
  let roundStatus = 0;

  // set Messenger options
  Messenger.options = {
    extraClasses: "messenger-fixed messenger-on-bottom",
    theme: "air"
  };

  // post welcome when page loading
  let msgNotice = Messenger().post({
    message: "欢迎玩家" + nickName,
    hideAfter: 5
  });

  // Form validation for message length checking
  $('#messages-form').formValidation({
    framework: 'bootstrap',
    locale: 'zh_CN',
    fields: {
      answerMessage: {
        validators: {
          notEmpty: {
            message: '请输入消息内容'
          },
          stringLength: {
            min: 1,
            max: 16
          }
        }
      }
    }
  }).on('success.form.fv', function (e) {
    // Prevent default form submission
    e.preventDefault();
    sendMessage();
  });

  sendMessage = function () {
    socket.emit("message", $("#messages").val(), email, nickName, roomLeader ,term, roundStatus);
    $("#messages").val("");
  };

  // query term of this round
  queryTerm = function () {
    let data = {};
    data.type = "queryTerm";
    $.ajax({
      url: "/drawBoard",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (answer) {
        term = answer;
        // if term exists, show the prompt
        if (term) {
          if (roomLeader === "1") {
            $("#prompt").text(term.termCon);
          } else if (roomLeader === "0") {
            $("#prompt").text(term.termLen + "个字, " + term.termType);
          }
        }
      }
    });
  };
  // start query the term when page loaded
  queryTerm();

  // listen on messages
  socket.on("message", function (userID, message, finishflag) {

    // if someone got the right answer
    if (finishflag === "1") {
      roundStatus = 1;
      //broadcast message
      msgNotice.update("恭喜 " + userID + " 答对了: " + message);

      $("#answer").text(term.termCon);
      $('#clock1').countdown('pause');
      $('.roundfinish_frame').css('z-index', "999");
      $('#roundfinish').css('display', "block");
    }

    // or just chat
    else {
      msgNotice.update(userID + " : " + message);
    }
  });

  // Timer
  $('#clock1').countdown("<%= endTime %>", function (event) {
    // set Timer format
    $(this).html(event.strftime('%M:%S'));
  }).on('finish.countdown', function () {
    roundStatus = 1;
    $("#answer").text(term.termCon);
    $('.roundfinish_frame').css('z-index', "999");
    $('#roundfinish').css('display', "block");
  });

  // first round
  if (endTime === 0 || endTime < (new Date()).valueOf()) {
    $('.gamestart_frame').css('z-index', "999");
    $('#gamestart').css('display', "block");
  }

  // when start the next round
  startNextRound = function () {
    socket.emit("nextRound");
  };

  // when received netRound signal, reload page
  socket.on("nextRound", function (message) {
    let data = {};
    data.type = "nextRound";
    // if you are chosen as a room leader, you draw, others guess.
    if (message === "1") {
      data.leader = 1;
    } else if (message === "0") {
      data.leader = 0;
    }
    $.ajax({
      url: "/drawBoard",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        if (data === "OK") {
          window.location.href = "drawBoard";
        }
      }
    });
  });

  // listen for online player number
  socket.on("playerNum", function (number) {
    $("#playerNum").text("当前在线人数: " + number);
  });

  // DrawBoard, if roomLeader===1, you can draw
  if (roomLeader === "1") {
    drawingBoard = new DrawingBoard.Board('draw-board', {
      controls: [
        'Color',
        {Size: {type: 'dropdown' }},
        'DrawingMode',
        'Navigation',
        'Download'
      ],
      droppable: true,
      size: 1,
      webStorage: 'false',
      enlargeYourContainer: true
    });

    // listen to drawing event, and send to server
    drawingBoard.ev.bind('board:stopDrawing', function (pointer) {
      socket.emit("drawing", drawingBoard.history.stack[drawingBoard.history.stack.length - 1]);
    });
  }
  // or roomLeader===0, you can just watch
  else if (roomLeader === "0") {
    let drawBoard = document.getElementById('draw-board');

    // listen on room leader's drawing event
    socket.on("drawing", function (img) {
      drawBoard.innerHTML = "<img src='" + img + "' class='img-responsive' />"
    });
  }

  // logout button function
  $('#logout').click(function () {
    let data = {};
    data.type = "logout";
    $.ajax({
      url: "/drawBoard",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        if (data === "OK") {
          window.location.href = "login";
        }
      }
    });
  });

  // exit the room
  $("#quit").click(function () {
    window.location.href = "home";
  })
</script>

</html>