<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <title>Draw & Guess</title>

  <!--sql_connect-->
  <script type="text/javascript" src="javascripts/sql_connect.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

  <!--jquery-countdown-->
  <script src="javascripts/jquery.countdown.min.js"></script>

  <!--Messenger-->
  <link rel="stylesheet" href="stylesheets/messenger.css">
  <link rel="stylesheet" href="stylesheets/messenger-theme-air.css">
  <script src="javascripts/messenger.min.js"></script>

  <!--drawingboard-->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/drawingboard.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/drawingboard.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/myDrawBoard.css">

  <!--Web socket-->
  <script src="/socket.io/socket.io.js"></script>
</head>
<body background="images/bkg3.jpg">

<!-- here start the nav-bar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/user.png"/></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li id="username" class="disabled"><a href="#"><%= username %></a></li>
        <li class="disabled"><a href="#">积分：233</a></li>
        <li id="roomName" class="disabled"><a href="#">房间：<%= roomName %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="logout"><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- container -->
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div id="db_topbar">
      <div id="countdown">
        <span>
          <span id="clock1"></span>
        </span>
      </div>
      <div id="hint">
        <span>n个字</span>
        <span>,</span>
        <span id="type">类别</span>
        <script type="text/javascript">
          $.ajax({
            type: "post",
            url: "../js/sql_connect.js",
            data: {"typeid": 2},
            dataType: "json",
            success: function (data) {
              alert(data);
              alert("success");
            }
          });

        </script>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="roundfinish_frame">
      <div id="roundfinish">
        <div style="text-align: center;font-size: 25px;color: white;">
          <!-- <span>第</span> -->
          <!-- <span id="round_num">n</span> -->
          <span>回合结束</span>
          <br/>
          <span style="font-size: 15px;">答案:</span>
          <span style="font-size: 15px;">堵车</span>
        </div>
        <div style="text-align: center;">
        </div>
        <div><br/></div>
        <div style="text-align: center;">
          <button type="button" class="btn btn-info" onclick="startNextRound()">下一回合</button>
          <button type="button" class="btn btn-danger">退出游戏</button>
        </div>
        <div><br/></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div id="draw-board" class="board"></div>
  </div>
</div>
<div><br/></div>
<!-- here start the input-group -->
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <input id="messages" type="text" class="form-control" placeholder="输入答案">
      <span class="input-group-btn">
        <button id="sendBtn" class="btn btn-danger" type="button">发送</button>
      </span>
    </div>
  </div>
</div>
</body>

<script type="text/javascript">
  let userID = "<%= username %>";
  let roomID = "<%= roomName %>";
  let roomLeader = "<%= roomLeader %>";

  let socket = io("/" + roomID);
  let sendMessageBtn = document.getElementById("sendBtn");
  let logoutBtn = document.getElementById("logout");
  let drawingBoard;

  // set Messenger options
  Messenger.options = {
    extraClasses: "messenger-fixed messenger-on-bottom",
    theme: "air"
  };

  // post welcome when page loading
  let msgNotice = Messenger().post({
    message: "欢迎玩家" + userID,
    hideAfter: 3
  });

  // send message button function
  sendMessageBtn.onclick = function () {
    let message = document.getElementById("messages");
    socket.emit("message", message.value);
    message.value = "";
  };

  // listen on messages
  socket.on("message", function (message) {
    msgNotice.update(message);
  });

  // Timer
  $('#clock1').countdown("<%= endTime %>", function (event) {
    // set Timer format
    $(this).html(event.strftime('%M:%S'));
  }).on('finish.countdown', function () {
    $('.roundfinish_frame').css('z-index', "999");
    $('#roundfinish').css('display', "block");
  });

  // first round
  if ("<%= endTime %>".length === 0) {
    $('.roundfinish_frame').css('z-index', "999");
    $('#roundfinish').css('display', "block");
  }

  // when start the next round
  startNextRound = function () {

    socket.emit("nextRound", new Date());
    $('.roundfinish_frame').css('z-index', "-1");
    $('#roundfinish').css('display', "none");
  };

  // when received netRound signal, reload page
  socket.on("nextRound", function (message) {
    let data = {};
    data.type = "nextRound";
    // if you are chosen as a room leader, you draw, others guess.
    if (message === "1") {
      data.leader = 1;
    } else if (message === "0") {
      data.leader = 0;
    }
    $.ajax({
      url: "/drawBoard",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        if (data === "OK") {
          window.location.href = "drawBoard";
        }
      }
    });
  });

  // DrawBoard, if roomLeader===1, you can draw
  if (roomLeader === "1") {
    drawingBoard = new DrawingBoard.Board('draw-board', {
      controls: [
        'Color',
        {Size: {type: 'dropdown' }},
        'DrawingMode',
        'Navigation',
        'Download'
      ],
      droppable: true,
      size: 1,
      webStorage: 'false',
      enlargeYourContainer: true
    });

    // listen to drawing event, and send to server
    drawingBoard.ev.bind('board:stopDrawing', function (pointer) {
      socket.emit("drawing", drawingBoard.history.stack.pop());
    });
  }
  // or roomLeader===0, you can just watch
  else if (roomLeader === "0") {
    let drawBoard = document.getElementById('draw-board');

    // listen on room leader's drawing event
    socket.on("drawing", function (img) {
      drawBoard.innerHTML = "<img src='" + img + "' class='img-responsive' />"
    });
  }

  // logout button function
  logoutBtn.onclick = function () {
    let data = {};
    data.type = "logout";
    $.ajax({
      url: "/drawBoard",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        if (data === "OK") {
          window.location.href = "login";
        }
      }
    });
  };
</script>

</html>