<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <title>Draw & Guess</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

  <!--Messenger-->
  <link rel="stylesheet" href="stylesheets/messenger.css">
  <link rel="stylesheet" href="stylesheets/messenger-theme-air.css">
  <script src="javascripts/messenger.min.js"></script>

</head>
<body background="images/bkg3.jpg">

<!-- here start the nav-bar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/user.png"/></a>
    </div>
  </div>
</nav>

<!-- container -->
<div class="container">
  <!--<div class="col-md-6 col-md-offset-3">-->
    <!--<input id="username" autofocus="autofocus" type="text" class="form-control" placeholder="Username">-->
    <!--<br/>-->
    <!--<button id="login" type="button" class="btn btn-lg btn-primary">登陆</button>-->
    <!--<br/>-->
  <!--</div>-->
  <form class="col-md-6 col-md-offset-3">
    <input id="username" autofocus="autofocus" type="text" class="form-control" placeholder="Username">
    <br/>
    <button id="login" type="submit" class="btn btn-lg btn-primary">登陆</button>
  </form>
</div>

<script type="text/javascript">
  let loginBtn = document.getElementById('login');

  loginBtn.onclick = function () {
    let username = document.getElementById('username').value;
    let data = {};
    data.username = username;
    console.log(data);
    $.ajax({
      url: '/login',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(data),
      success: function (data) {
        console.log(data);
        if (data === "OK"){
          window.location.href = "home"
        }
      }
    });
  };
</script>
</body>
</html>